body 
{
width: 99%;
height: 96%;
margin: 0 auto;
font-family: helvetica, arial, tahoma, sans-serif;
font-size: 100.1%;
color: #000000;
}	  

#alles
{
width: 100%;
height: 100%;
padding-top:4px;
padding-left:3px;
}

#abstand
{
width: 90%;
height: 1%;
background:#D8D8D8;
}

#menu
{
width: 92%;
height: 4%;
min-height:24px;
float:left;
/*border-width:1px;
border-style:solid;
border-color:black;*/


}

#eingabe
{
float:left;
width: 90%;
height: 4%;
min-height:30px;
}
#logout
{
width: 6%;
height: 20px;
float:right;
min-height:20px;
text-align:center;
margin: 0 auto;
padding-left: 2;
padding-right: 2;
padding-bottom: 2;
padding-top: 2;
border-width:1px;
border-style:solid;
border-color:#FE2E64;
/*
background:#FE2E64;
*/
}

#content
{
float:left;
width: 100%;
height: 92%;
min-height:300px;


}

.eintrag
{



}
.bearbeiten
{
margin: 0 auto;
width: 242px;
height: 20px;
background:#A9BCF5;
}
.bildtitel
{
margin: 0 auto;
width: 242px;
height: 20px;
overflow: hidden;
}
.gruppe
{
margin: 0 auto;
padding-left: 2;
padding-right: 2;
padding-bottom: 2;
padding-top: 2;
height: 20px;
overflow: hidden;
border-width:1px;
border-style:solid;
border-color:#BDBDBD;
}
.div1
{


}


